/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@font-face {
  font-family: 'MyriadPro Bold';
  src: url("../fonts/myriadpro_bold.eot");
  src: url("../fonts/myriadpro_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro_bold.woff") format("woff"), url("../fonts/myriadpro_bold.ttf") format("truetype"), url("../fonts/myriadpro_bold.svg#MyriadProBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro Semi Condensed';
  src: url("../fonts/myriadpro_semi_condensed.eot");
  src: url("../fonts/myriadpro_semi_condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/myriadpro_semi_condensed.woff") format("woff"), url("../fonts/myriadpro_semi_condensed.ttf") format("truetype"), url("../fonts/myriadpro_semi_condensed.svg#MyriadProSemiCondRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Colours */
::-moz-selection {
  background: #bc652e;
  color: white;
  text-shadow: none; }

::selection {
  background: #bc652e;
  color: white;
  text-shadow: none; }

html {
  background: #b5a289 url(../img/bg.png); }

#header-texture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 220px;
  background: #1e1d1d url(../img/banner_bg.png);
  z-index: 1; }

#container {
  position: relative;
  z-index: 2;
  overflow: hidden; }
  #container #logo {
    position: absolute;
    display: block;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    text-decoration: none; }
    #container #logo .text {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      font-family: 'MyriadPro Bold';
      color: #c4562e;
      font-size: 35px;
      line-height: 1; }
      #container #logo .text:hover {
        color: #baa68d; }
    @media only screen and (max-width: 549px) {
      #container #logo {
        top: 55px;
        width: 100%; }
        #container #logo img {
          max-height: 110px;
          max-width: 90%; } }
    @media only screen and (min-width: 550px) {
      #container #logo .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      #container #logo img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 550px) and (max-width: 767px) {
      #container #logo {
        left: 25px;
        top: 0;
        width: 285px;
        height: 135px; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      #container #logo {
        left: 15px;
        top: 0;
        width: 300px;
        height: 100px; } }
    @media only screen and (min-width: 980px) and (max-width: 1219px) {
      #container #logo {
        left: 10px;
        top: 0;
        width: 255px;
        height: 160px; } }
    @media only screen and (min-width: 1220px) {
      #container #logo {
        left: 15px;
        top: 0;
        width: 305px;
        height: 160px; } }
  #container #sunday_services {
    position: absolute;
    top: 40px;
    font-family: 'MyriadPro Semi Condensed';
    color: #c4562e;
    font-size: 18px;
    text-transform: uppercase; }
    #container #sunday_services strong {
      color: #baa68d;
      font-weight: normal; }
  #container #header-menu {
    position: absolute;
    top: 25px;
    list-style: none;
    margin: 0;
    padding: 0; }
    #container #header-menu li {
      display: inline-block; }
      #container #header-menu li a {
        display: inline-block;
        margin: 0 0 0 5px;
        padding: 0 15px;
        height: 32px;
        color: white;
        font-family: 'MyriadPro Semi Condensed';
        font-size: 14px;
        line-height: 32px;
        text-transform: uppercase;
        text-decoration: none;
        background: #748f49;
        border-radius: 2px; }
        #container #header-menu li a:hover {
          background: #c4562e; }
      #container #header-menu li.show_menu {
        display: none; }
      #container #header-menu li.facebook a, #container #header-menu li.twitter a {
        padding: 0;
        width: 35px;
        text-indent: -9999px;
        background-image: url(../img/social_media_icons.png); }
      #container #header-menu li.twitter a {
        background-position: -35px 0; }
  #container #content {
    overflow: hidden;
    background: #f2ede6 url(../img/content_bg.jpg); }
    #container #content #banner img {
      display: block;
      width: 100%;
      height: auto; }
  #container #address {
    clear: both;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
    background: #748F49; }
    #container #address strong {
      font-size: 14px; }
    @media only screen and (max-width: 549px) {
      #container #address {
        padding: 15px 25px; } }
    @media only screen and (min-width: 550px) and (max-width: 767px) {
      #container #address {
        padding: 15px 20px 15px 50px; }
        #container #address strong {
          display: block; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      #container #address {
        width: 455px;
        padding: 15px 20px 15px 50px;
        margin: 0 0 0 225px; }
        #container #address strong {
          display: block; } }
    @media only screen and (min-width: 980px) and (max-width: 1219px) {
      #container #address {
        width: 585px;
        padding: 15px 50px;
        margin: 0 0 0 275px; }
        #container #address strong {
          display: block; } }
    @media only screen and (min-width: 1220px) {
      #container #address {
        width: 765px;
        padding: 15px 50px;
        margin: 0 0 0 335px; } }
  #container #copyright {
    clear: both;
    overflow: hidden; }
    #container #copyright p {
      margin: 0;
      color: #373027;
      font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
      font-size: 12px;
      line-height: 100%;
      text-shadow: #c5b29b 1px 1px 0; }
      #container #copyright p a {
        color: #373027;
        font-weight: bold;
        text-decoration: none; }
        #container #copyright p a:hover {
          border-bottom: white dotted 1px;
          color: white; }
    @media only screen and (max-width: 767px) {
      #container #copyright {
        padding: 15px 0; }
        #container #copyright p {
          text-align: center; }
          #container #copyright p.software {
            margin: 5px 0 0 0; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      #container #copyright {
        width: 525px;
        padding: 15px 0;
        margin: 0 0 0 225px; }
        #container #copyright p {
          text-align: center; }
          #container #copyright p.software {
            margin: 5px 0 0 0; } }
    @media only screen and (min-width: 980px) and (max-width: 1219px) {
      #container #copyright {
        width: 665px;
        padding: 15px 10px;
        margin: 0 0 0 275px; }
        #container #copyright .church {
          float: left; }
        #container #copyright .software {
          float: right; } }
    @media only screen and (min-width: 1220px) {
      #container #copyright {
        width: 845px;
        padding: 15px 10px;
        margin: 0 0 0 335px; }
        #container #copyright .church {
          float: left; }
        #container #copyright .software {
          float: right; } }

@media only screen and (max-width: 549px) {
  body {
    margin: 0px; }
  #container {
    width: 100%;
    padding: 220px 0 0 0; }
    #container #header-menu {
      left: 0px;
      top: 10px;
      width: 100%;
      text-align: center; }
      #container #header-menu li.show_menu {
        display: inline-block; }
        #container #header-menu li.show_menu a {
          padding: 0 20px; }
    #container #sunday_services {
      left: 0;
      width: 100%;
      top: 195px;
      font-size: 15px;
      text-align: center; }
    #container #menu {
      display: none;
      position: absolute;
      z-index: 200;
      left: 0px;
      top: 0px;
      margin: 0;
      padding: 15px 0 25px 0;
      width: 100%;
      min-height: 100%;
      list-style: none;
      background: #54453c; }
      #container #menu.show {
        display: block; }
      #container #menu li {
        padding: 0 15px 15px 15px; }
        #container #menu li a {
          display: block;
          margin: 0 0 5px 0;
          padding: 15px 20px;
          background: #837166 url(../img/btn_bg.png) bottom repeat-x;
          border-color: #281910;
          border-radius: 3px;
          border-style: solid;
          border-width: 1px;
          color: white;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          line-height: 100%;
          text-shadow: #403128 1px 1px 0;
          text-decoration: none;
          text-align: center; }
          #container #menu li a:hover {
            text-decoration: underline; }
        #container #menu li ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          #container #menu li ul li {
            padding: 0; }
            #container #menu li ul li a {
              padding: 8px 20px;
              color: #e9dbd1;
              font-size: 12px;
              text-transform: none; } }

@media only screen and (min-width: 550px) and (max-width: 767px) {
  body {
    margin: 10px; }
  #container {
    margin: 0 auto;
    padding: 162px 0 0 0;
    width: 530px; }
    #container #sunday_services {
      right: 2px;
      top: 135px;
      font-size: 15px; }
    #container #header-menu {
      right: 0;
      top: 51px; }
    #container #menu {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      text-align: center;
      background: #716658 url(../img/menu_bg.jpg); }
      #container #menu > li {
        display: inline-block;
        font-size: 0; }
        #container #menu > li > a {
          display: inline-block;
          color: white;
          font-size: 13px;
          line-height: 100%;
          font-weight: bold;
          padding: 5px 8px;
          text-decoration: none; }
        #container #menu > li ul {
          display: none; }
        #container #menu > li.selected a {
          color: #1e1d1d; }
        #container #menu > li:hover > a {
          color: white !important;
          background: #52493e url(../img/menu_selected_bg.jpg); }
        #container #menu > li:hover ul {
          background: #52493e url(../img/menu_selected_bg.jpg);
          display: block;
          list-style: none;
          margin: 0;
          padding: 10px;
          position: absolute; }
          #container #menu > li:hover ul li {
            text-align: left;
            padding: 3px 0; }
            #container #menu > li:hover ul li.selected a {
              color: #c4562e; }
            #container #menu > li:hover ul li a {
              color: white;
              font-size: 12px;
              text-decoration: none; }
              #container #menu > li:hover ul li a:hover {
                color: #c4562e; }
    #container #content #banner.normal {
      min-height: 151px; }
    #container #content #banner.large {
      min-height: 264px; } }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  body {
    margin: 9px; }
  #container {
    margin: 0 auto;
    padding: 110px 0 0 0;
    width: 750px; }
    #container #sunday_services {
      right: 10px;
      top: 65px; }
    #container #header-menu {
      right: 10px; }
    #container #menu {
      width: 225px; }
    #container #content {
      float: left;
      width: 525px; }
      #container #content #banner.normal {
        min-height: 150px; }
      #container #content #banner.large {
        min-height: 262px; } }

@media only screen and (min-width: 980px) and (max-width: 1219px) {
  body {
    margin: 10px; }
  #container {
    margin: 0 auto;
    padding: 80px 0 0 0;
    width: 960px; }
    #container #sunday_services {
      left: 350px; }
    #container #header-menu {
      right: 0; }
    #container #menu {
      margin: 80px 0 0 0;
      width: 275px; }
    #container #content {
      float: left;
      width: 685px; }
      #container #content #banner.normal {
        min-height: 195px; }
      #container #content #banner.large {
        min-height: 342px; } }

@media only screen and (min-width: 1220px) {
  body {
    margin: 10px; }
  #container {
    margin: 0 auto;
    padding: 80px 0 0 0;
    width: 1200px; }
    #container #sunday_services {
      left: 550px; }
    #container #header-menu {
      right: 0; }
    #container #menu {
      margin: 80px 0 0 0;
      width: 335px; }
    #container #content {
      float: left;
      width: 865px; }
      #container #content #banner.normal {
        min-height: 247px; }
      #container #content #banner.large {
        min-height: 432px; } }

@media only screen and (min-width: 768px) {
  #menu {
    float: left;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    background: #716658 url(../img/menu_bg.jpg);
    font-family: 'MyriadPro Semi Condensed';
    text-transform: uppercase;
    line-height: 100%; }
    #menu > li {
      margin: 0;
      padding: 15px 0 15px 35px; }
      #menu > li.selected {
        background: #52493e url(../img/menu_selected_bg.jpg); }
        #menu > li.selected ul li a {
          color: white; }
          #menu > li.selected ul li a:hover {
            color: #c4562e; }
      #menu > li > a {
        color: white;
        font-size: 20px;
        text-decoration: none; }
      #menu > li ul {
        list-style: none;
        margin: 0;
        padding: 5px 0 0 10px; }
        #menu > li ul li {
          padding: 5px 0; }
          #menu > li ul li.selected a {
            color: #c4562e; }
          #menu > li ul li a {
            color: black;
            font-size: 15px;
            text-decoration: none; }
            #menu > li ul li a:hover {
              color: white; } }

#wysiwyg {
  margin: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #4f412f;
  font-size: 14px;
  line-height: 165%; }
  #wysiwyg:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 980px) and (max-width: 1219px) {
    #wysiwyg {
      margin: 30px 50px; } }
  @media only screen and (min-width: 1220px) {
    #wysiwyg {
      margin: 30px 50px; } }
  #wysiwyg a {
    color: #C4562E;
    text-decoration: underline; }
    #wysiwyg a:hover {
      color: #748F49; }
  #wysiwyg h1 {
    box-sizing: border-box;
    margin: 0;
    margin: -30px 0 35px -30px;
    padding: 15px 30px 10px 30px;
    font-family: 'MyriadPro Bold';
    font-weight: normal;
    font-size: 28px;
    line-height: 100%;
    color: white;
    background: #c4562e; }
    #wysiwyg h1 a {
      color: white;
      text-decoration: none; }
      #wysiwyg h1 a:hover {
        color: white; }
    @media only screen and (min-width: 980px) and (max-width: 1219px) {
      #wysiwyg h1 {
        width: 80%;
        font-size: 30px;
        margin: -30px 0 35px -50px;
        padding: 20px 25px 15px 50px; } }
    @media only screen and (min-width: 1220px) {
      #wysiwyg h1 {
        width: 70%;
        font-size: 32px;
        margin: -30px 0 35px -50px;
        padding: 25px 25px 20px 50px; } }
  #wysiwyg h2 {
    margin: 30px 0 20px 0;
    font-size: 20px;
    line-height: 150%;
    font-family: 'MyriadPro Bold';
    font-weight: normal;
    border-bottom: #a69d91 dotted 1px; }
  #wysiwyg p {
    margin: 20px 0; }
  #wysiwyg .alignnone {
    margin: 5px 20px 20px 0; }
  #wysiwyg .aligncenter,
  #wysiwyg div.aligncenter {
    display: block;
    margin: 5px auto 5px auto; }
  #wysiwyg .alignright {
    float: right;
    margin: 5px 0 20px 20px; }
  #wysiwyg .alignleft {
    float: left;
    margin: 5px 20px 20px 0; }
  #wysiwyg a img.alignright {
    float: right;
    margin: 5px 0 20px 20px; }
  #wysiwyg a img.alignnone {
    margin: 5px 20px 20px 0; }
  #wysiwyg a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0; }
  #wysiwyg a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #wysiwyg .wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center; }
  #wysiwyg .wp-caption.alignnone {
    margin: 5px 20px 20px 0; }
  #wysiwyg .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  #wysiwyg .wp-caption.alignright {
    margin: 5px 0 20px 20px; }
  #wysiwyg .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto; }
  #wysiwyg .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }
  #wysiwyg .size-auto,
  #wysiwyg .size-full,
  #wysiwyg .size-large,
  #wysiwyg .size-medium,
  #wysiwyg .size-thumbnail {
    max-width: 100%;
    height: auto; }

.church_social_sermon_archive__table {
  width: 100%;
  margin: 20px 0; }

.church_social_sermon_archive__table_date_header, .church_social_sermon_archive__table_preached_time_header, .church_social_sermon_archive__table_title_header, .church_social_sermon_archive__table_author_header, .church_social_sermon_archive__table_passage_header {
  text-align: left;
  padding: 5px;
  font-size: 18px;
  line-height: 150%;
  font-family: 'MyriadPro Bold';
  font-weight: normal; }

.church_social_sermon_archive__table_date {
  white-space: nowrap; }

.church_social_sermon_archive__table_date, .church_social_sermon_archive__table_preached_time, .church_social_sermon_archive__table_title, .church_social_sermon_archive__table_author, .church_social_sermon_archive__table_passage {
  font-size: 14px;
  line-height: 120%;
  padding: 10px 5px;
  border-top: #8f8475 dotted 1px;
  vertical-align: top; }
