.church_social_sermon_archive {
    &__search_form_button {
        @extend .button;
    }

    &__table {
        width: 100%;
        margin: 20px 0;
    }

    &__table_date_header,
    &__table_preached_time_header,
    &__table_title_header,
    &__table_author_header,
    &__table_passage_header {
        text-align: left;
        padding: 5px;
        font-size: 18px;
        line-height: 150%;
        font-family: 'MyriadPro Bold';
        font-weight: normal;
    }

    &__table_date {
        white-space: nowrap;
    }

    &__table_date,
    &__table_preached_time,
    &__table_title,
    &__table_author,
    &__table_passage {
        font-size: 13px;
        line-height: 1.2;
        padding: 10px 5px;
        border-top: darken(#a69d91, 10%) dotted 1px;
        vertical-align: top;

        a {
            text-decoration: none !important;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

    &__sermon_back_button,
    &__sermon_download_button {
        @extend .button;
    }

    &__sermon_back_button {
        display: inline-block;
        margin-top: 25px;
    }
}