/* Colours */
$orange: #c4562e;
$green: #748f49;

::-moz-selection {
    background: #bc652e;
    color: white;
    text-shadow: none;
}

::selection {
    background: #bc652e;
    color: white;
    text-shadow: none;
}

html {
    background: #b5a289 url(../img/bg.png);
}

#header-texture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 220px;
    background: #1e1d1d url(../img/banner_bg.png);
    z-index: 1;

    @media only screen and (max-width: 549px) {
        height: 267px;
    }
}

#container {
    position: relative;
    z-index: 2;
    overflow: hidden;

    #logo {
        position: absolute;
        display: block;
        font-size: 0;
        white-space: nowrap;
        text-align: center;
        text-decoration: none;

        .text {
            display: inline-block;
            vertical-align: middle;
            white-space: normal;
            font-family: 'MyriadPro Bold';
            color: $orange;
            font-size: 35px;
            line-height: 1;

            &:hover {
                color: #baa68d;
            }
        }

        @media only screen and (max-width: 549px) {
            top: 65px;
            width: 100%;

            img {
                max-height: 110px;
                max-width: 90%;
            }
        }

        @media only screen and (min-width: 550px) {
            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            img {
                vertical-align: middle;
                max-height: 100%;
                max-width: 100%;
            }
        }

        @media only screen and (min-width: 550px) and (max-width: 767px) {
            left: 25px;
            top: 0;
            width: 285px;
            height: 135px;
        }

        @media only screen and (min-width: 768px) and (max-width: 979px) {
            left: 15px;
            top: 10px;
            width: 300px;
            height: 85px;
        }

        @media only screen and (min-width: 980px) and (max-width: 1219px) {
            left: 10px;
            top: 15px;
            width: 255px;
            height: 145px;
        }

        @media only screen and (min-width: 1220px) {
            left: 20px;
            top: 15px;
            width: 295px;
            height: 145px;
        }
    }

    #sunday_services {
        position: absolute;
        top: 40px;
        font-family: 'MyriadPro Semi Condensed';
        color: $orange;
        font-size: 18px;
        text-transform: uppercase;

        strong {
            color: #baa68d;
            font-weight: normal;
        }
    }

    #header-menu {
        position: absolute;
        top: 25px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            overflow: hidden;
            display: inline-block;

            a {
                display: inline-block;
                margin: 0 0 0 5px;
                padding: 1px 15px 0 15px;
                height: 31px;
                color: white;
                font-family: 'MyriadPro Semi Condensed';
                font-size: 14px;
                line-height: 32px;
                text-transform: uppercase;
                text-decoration: none;
                background: $green;
                border-radius: 2px;

                &:hover {
                    background: $orange;
                }
            }

            &.show_menu {
                display: none;
            }

            &.facebook,
            &.twitter {

                a {
                    font-size: 20px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }

    #content {
        overflow: hidden;
        background: #f2ede6 url(../img/content_bg.jpg);

        #banner {
            img {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    #address {
        clear: both;
        color: white;
        font-size: 12px;
        font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
        background: #748F49;

        strong {
            font-size: 14px;
        }

        @media only screen and (max-width: 549px) {
            padding: 15px 25px;
        }

        @media only screen and (min-width: 550px) and (max-width: 767px) {
            padding: 15px 20px 15px 50px;

            strong {
                display: block;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 979px) {
            width: 455px;
            padding: 15px 20px 15px 50px;
            margin: 0 0 0 225px;

            strong {
                display: block;
            }
        }

        @media only screen and (min-width: 980px) and (max-width: 1219px) {
            width: 585px;
            padding: 15px 50px;
            margin: 0 0 0 275px;

            strong {
                display: block;
            }
        }

        @media only screen and (min-width: 1220px) {
            width: 765px;
            padding: 15px 50px;
            margin: 0 0 0 335px;
        }
    }

    #copyright {
        clear: both;
        overflow: hidden;

        p {
            margin: 0;
            color: #373027;
            font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
            font-size: 12px;
            line-height: 100%;
            text-shadow: #c5b29b 1px 1px 0;

            a {
                color: #373027;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    border-bottom: white dotted 1px;
                    color: white;
                }
            }
        }

        @media only screen and (max-width: 767px) {
            padding: 15px 0;

            p {
                text-align: center;

                &.software {
                    margin: 5px 0 0 0;
                }
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 979px) {
            width: 525px;
            padding: 15px 0;
            margin: 0 0 0 225px;

            p {
                text-align: center;

                &.software {
                    margin: 5px 0 0 0;
                }
            }
        }

        @media only screen and (min-width: 980px) and (max-width: 1219px) {
            width: 665px;
            padding: 15px 10px;
            margin: 0 0 0 275px;

            .church {
                float: left;
            }

            .software {
                float: right;
            }
        }

        @media only screen and (min-width: 1220px) {
            width: 845px;
            padding: 15px 10px 25px 10px;
            margin: 0 0 0 335px;

            .church {
                float: left;
            }

            .software {
                float: right;
            }
        }
    }
}

@media only screen and (max-width: 549px) {
    body {
        margin: 0px;
    }

    #container {
        width: 100%;
        padding: 220px 0 0 0;

        #header-menu {
            left: 0px;
            top: 10px;
            width: 100%;
            text-align: center;

            li.show_menu {
                display: inline-block;

                a {
                    padding: 0 20px;
                }
            }
        }

        #sunday_services {
            left: 0;
            width: 100%;
            top: 190px;
            font-size: 15px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: 550px) and (max-width: 767px) {
    body {
        margin: 10px;
    }

    #container {
        margin: 0 auto;
        padding: 162px 0 0 0;
        width: 530px;

        #sunday_services {
            right: 2px;
            top: 135px;
            font-size: 15px;
        }

        #header-menu {
            right: 0;
            top: 51px;
        }

        #content {
            #banner {
                &.normal {
                    min-height: 151px;
                }

                &.large {
                    min-height: 264px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    body {
        margin: 9px;
    }

    #container {
        margin: 0 auto;
        padding: 110px 0 0 0;
        width: 750px;

        #sunday_services {
            right: 10px;
            top: 65px;
        }

        #header-menu {
            right: 10px;
        }

        #content {
            float: left;
            width: 525px;

            #banner {
                &.normal {
                    min-height: 150px;
                }

                &.large {
                    min-height: 262px;
                }
            }
        }
    }
}

@media only screen and (min-width: 980px) and (max-width: 1219px) {
    body {
        margin: 10px;
    }

    #container {
        margin: 0 auto;
        padding: 80px 0 0 0;
        width: 960px;

        #sunday_services {
            left: 350px;
        }

        #header-menu {
            right: 0;
        }

        #content {
            float: left;
            width: 685px;

            #banner {
                &.normal {
                    min-height: 195px;
                }

                &.large {
                    min-height: 342px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1220px) {
    body {
        margin: 10px;
    }

    #container {
        margin: 0 auto;
        padding: 80px 0 0 0;
        width: 1200px;

        #sunday_services {
            left: 550px;
        }

        #header-menu {
            right: 0;
        }

        #content {
            float: left;
            width: 865px;

            #banner {
                &.normal {
                    min-height: 247px;
                }

                &.large {
                    min-height: 432px;
                }
            }
        }
    }
}